<h1>LMS Content Master</h1>
<form class="wrapper" [@slideInOutAnimation]="isOpen?'open': 'closed'">
    <div class="field">
        <label>Content Name</label>
        <input type="text" placeholder="Enter Content Name" />
    </div>
    <div class="field">
        <label>Content Description</label>
        <input type="text" placeholder="Enter Content Description" />
    </div>
    <div class="field">
        <label>Content URL</label>
        <input type="file" />
    </div>
    <div class="field">
        <label>Status</label>
        <input type="text" placeholder="Enter Content Status" />
    </div>
    <h3>OR</h3>
    <div class="filefield">
        <label>Content data file:</label>
        <input type="file" placeholder="Only .xslx or .xls files"/>
    </div>
    <button class="submit" type="submit">Submit</button>
    <table class="table">
        <thead>
            <tr>
                <th>Sl No</th>
                <th>Name</th>
                <th>Work</th>
                <th>email</th>
                <th>dob</th>
                <th>address</th>
                <th>city</th>
                <th>opted</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of jsonData">
                <th>{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.work}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dob}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.optedin}}</td>
            </tr>
        </tbody>
    </table>
</form>